<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TAXI CUSTOMER</title>
  <link rel="stylesheet" href="leaflet/leaflet.css">
  <link rel="stylesheet" href="/esri-leaflet-geocoder/esri-leaflet-geocoder.css">
  <link rel="stylesheet" href="css/taxi.css">
  <script src="/vue/vue.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/leaflet/leaflet.js"></script>
  <script src="/esri-leaflet/esri-leaflet.js"></script> 
  <script src="/esri-leaflet-geocoder/esri-leaflet-geocoder.js"></script> 
  <script src="js/customer.js" defer></script>
</head>
<body>
  <h1 id="taxititle">
    Välkommen till Lådbil AB 
  </h1>
  <div id="page">
  <section class="kartsektion">
  <h3>Välj först din destination, och sedan var du vill bli upphämtad</h3>
    <div id="my-map"></div>
  </section>
  <section>
  <div class="wrapper">
    <div id="custominfo">
	<br>
		<p>
			<label for="För- och efternamn">Namn</label><br>
			<input type="text" id="Namn" name="na" required="required" placeholder="För- och efternamn">
		</p>
		<p>
			<label for="telefonnummer">Telefonnummer</label><br>
			<input type="text" id="Telefonnummer" name="te" placeholder="Telefonnummer">
		</p>
		<br>
		<form>
			<input type="radio" name="biltyp" id="liten" value="Liten bil" checked> Liten bil (1-4 personer)<br>
			<input type="radio" name="biltyp" id="stor" value="Stor bil"> Stor bil (5-8 personer)<br>
		</form>
		<h4>Jag behöver:</h4>
		<form>
			<input type="checkbox" name="behov" value="rullstol"> Rullstol<br>
			<input type="checkbox" name="behov" value="barnstol"> Barnstol<br>
		</form>
	<br>
	</div>
	<div id="bookinfo">
	<br>
	<h4 id="bookingid"><h4>{{ orderId }}
	<br>
	<ul id="bookinfolist">
	</ul>
	</div>
	</div>
	<br>
	<div id="buttonpos">
	<button v-on:click="orderTaxi">BOKA TAXI</button>
	</div>
	<br>
	<br>
	</section>
  </div>
  <footer>
	<hr>
	<p> Copyright Lådbil AB</p>
  </footer>
</body>
</html>
