@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';
@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Share+Tech+Mono");

@font-face {                                        
	font-family: t1;
	src: url('../fonts/taxititle1.ttf');
}

@font-face {                                        
	font-family: t2;
	src: url('../fonts/taxititle2.ttf');
}

#taxititle {
	font-family: t1;
	font-size 60pt;
	text-align: center;
}

body {
	margin: 0;
	padding: 0 400px;
	width: 80%;
	height: 80%;

}

.kartsektion {
	text-align: center;
}

#my-map {
	width: 90%;
	height: 20vh;
	border: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
	margin: 1em auto;
}

.popup-list {
	padding-left: 0;
}


#page {
	padding: 5px;
	margin: 5px;
	height: 630px;
	overflow:hidden;
	background-color: #8FBC8F;
	/* background-color: #FFF8DC; */
	border: 2px ridge #DCDCDC;
}


button {
	background: #98FB98;
    color: #000;
    border: 2px solid #eee;
    border-radius: 30px;
    box-shadow: 6px 6px 6px #eee;
    text-shadow:none;
	height: 60px;
	width: 80px;
	font-family: t2;
	text-transform: uppercase;
}

button:hover { 
    cursor: pointer;
    background: #32CD32;
	color: #fff;
	border: 2px solid #eee;
	border-radius: 30px;
	box-shadow: 6px 6px 6px #eee;
	text-shadow:none;
	font-family: t2;
	text-transform: uppercase;
}



section {
	margin: 5px;
	padding: 0 10px; 
	overflow:hidden;
	border: 2px ridge #DCDCDC;
	background-color: #F0FFFF;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 220px 10px 10px;     
	/* background-color: #000000; */
    color: #444;
	/* text-align: center; */
 }

.box {
    background-color: #fff;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;

}

#custominfo {
    grid-column: 1;
	grid-row: 1 / span 2;
 }
 
#bookinginfo {
	font-family: t1;
	grid-column: 2;
	grid-row: 1 / span 2;
}

#buttonpos {
	padding: 0 40px;
}

#bookingpage {
	padding: 5px;
	margin: 5px;
	height: 650px;
	background-color: #FFF8DC;
	border: 2px ridge #DCDCDC;
}
